# Sensitive data
# data/
experiment_outputs/
human_study/human_study_data.csv

# General
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
logs/
venv/
ENV/
env.bak/
venv.bak/
.idea/
organized_comments_from_jsonl

*.db
*.db-shm
*.db-wal

myenv/

learning_data/rag
sentiment_analysis_results/
exported_content/data/
temp_reaction_log.jsonl
evidence_database/*.json
evidence_database/*.binevidence_database/embedding_cache.faiss
